<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Español-->
    <!--<add key="Idioma" value="es-ES" />-->
    
    <!-- Ingles -->
    <add key="Idioma" value="en-US" />

    <!--Italiano-->
    <!--<add key="Idioma" value="it-IT" />-->
  </appSettings>
</configuration>